# Week 2 Lecture Notes: Jupyter Notebook Primer, Data Types, Python as a Calculator, Loops, and Lists

<ul>
    <li><a href='#JupyterNotebook'>I. Jupyter Notebook</a></li>
    <li><a href='#FirstPythonCode'>II. First Python Code</a></li>
    <li><a href='#IntFloat'>III. Integers and Floats</a></li>
    <li><a href='#ModPackLib'>IV. Modules, Packages, and Libraries</a></li>
    <li><a href='#Lists'>V. Lists</a></li>
    <li><a href='#Index'>VI. Indexing and Slicing</a></li>
    <li><a href='#LoopList'>VII. Looping through a List</a></li>
</ul>

<a id='JupyterNotebook'></a>
# I. Jupyter Notebook
Jupyter Notebook is an open-source web application that allows the creation and sharing of documents that contain live code, equations, visualizations and narrative text. More details at: https://jupyter.org/.

Some introductory lecture material covering basic Python concepts will be presented in Jupyter Notebook format. This will allow for a week's `reading material` to be integrated with a coding environment. I strongly recommend that you explore the code on your own. For longer codes, we need more powerful troubleshooting capabilities, so we will be using the integrated development environment (IDE) Spyder as well.

### Cells 

All content in Jupyter Notebook is written within a cell. There are two types of cells that we will use this semester:
<ul>
    <li> Code: Contains Python code, or another language depending on the selected kernel</li>
    <li> Markdown: Markdown is a text-to-HTML conversion tool for web writers. Contains explanatory text</li>
</ul>

There is a third cell type, `Raw`, but we will not be using it this semester.

### Markdown Cells

If you click on this paragraph <b>once</b>, you will a cell outlined by a rectangle. _This is a Markdown cell._ There are a number of tags that can be used within a Markdown cell to control formatting (italicize, bold, change font color, etc.). <b><font color='green'>Double-click in this cell to see an example of Markdown tags, then press `Ctrl+Enter` to run the cell.</font></b>

More details on Markdown can be found at: https://daringfireball.net/projects/markdown/.

### Adding new cells is simple.
You can easily add a new cell simply by pressing "b". The new cell will be added <b>below</b> the currently selected cell. <b>Note that you cannot use this shortcut if you are currently editing a cell.</b> Conversely, if you want to add a cell above the currently selected cell, press "a".

### Changing Cell Types
All new cells are by default added as code cells. You may always use the Jupyter menu bar to change Cell types, but you can also use shortcuts when the cell is selected:
<ul>
    <li>"m": Markdown</li>
    <li>"y": Code</li>
</ul>

If you are in a Code cell, you should see "[]" to the left of the cell. These brackets will not be present in a Markdown cell.

<b>If you are like me, you will get in a hurry at some point this semester and accidentally hit the `r` button while a cell is selected but not editable. This will convert the cell to a `raw` format, which is a format we will not use this semester and will cause your code to work unexpectedly.</b>

### Markdown cells also allow for writing equations with LaTeX
LaTeX is a typesetting code that is particularly powerful when typesetting mathematical formulas. Compare a very familiar equation without LaTeX: 

E = mc^2

to the same equation using LateX:

$E = mc^2$


To signify that LaTeX's mathematical funcationality is being used, simply place the equation between two dollar signs (`$equation$`) when typing the Markdown Cell. Here are some examples of equations created with LaTeX. Double click in this cell to see the formatting commands:
<ul>
    <li>Subscripts: $B_c$, $B_{c0}$</li>
    <li>Fractions: $x/y$, $\frac{x}{y}$</li>
    <li>Symbols: $\Delta$, $\pi$, $\infty$</li>
    <li>Exponential: $e^5$, $e^{5000}$</li>
</ul>

Much more on LaTeX math can be found at: https://artofproblemsolving.com/wiki/index.php/LaTeX:Symbols

### Adding images in Markdown

There are a number of ways to add images with Markdown. Perhaps the easiest is to link to an image already on the web. Double click on this cell to see how easy it is to add an image. If you find yourself needing to add an image, simply copy the code below and edit accordingly.

![John Cleese](https://m.media-amazon.com/images/M/MV5BODYzZWU2MmItMDYzNS00OGJjLWE4NTAtYjMyZjBiNTY5OTcxXkEyXkFqcGdeQXVyNTAyNDQ2NjI@._V1_SY1000_CR0,0,1493,1000_AL_.jpg)

John Cleese as Tim the Enchanter from "Monty Python and the Holy Grail", https://www.imdb.com/title/tt0071853/mediaviewer/rm1556617984. 

Fun fact, the name Python was inspired by the Monty Python comedy team (more specifically, the Flying Circus television series).

<a id='FirstPythonCode'></a>
# II. First Python code

### Code Cells
Code cells run the computer language as determined by the Kernel selected in Jupyter. The current active kernel is in the upper-right corner of the screen. We are going to use Python 3 almost exclusively in this course.

Let's start with the classic coding problem where we print the words "Hello World!". Run the following code, and then think about what is happening here.

In [ ]:
print("Hello World!")
# this is a comment

<ul>
    <li> print() is a function that acts on the argument between the parentheses.</li>
    <li> "Hello World!" is the argument (also referred to as a parameter) input into the function.</li>
    <li> # is used to define a comment; it does not impact the Python code but is a good way to add brief thoughts regarding your Python code</li>
</ul>

### Variables
Note that we could also define "Hello World!" as a variable.

In [ ]:
x = "Hello World!"
print(x)

It is important to keep track of the variable type, which can be determined with the function *type()*.

In [ ]:
type(x)

In this case, *x* is a string. When defining a string variable, use quotations, either "string" or 'string' will work.

In [ ]:
x = "Hello World!!!!!!!!!"
print(x)
type(x)

What if quotation marks aren't used?

In [ ]:
x = Hello World!

The error that occurs is a common one, syntax error. Syntax is the set of rules that define a programming language- trying to define a string without quotation marks is against the rules of Python.

Now let's try printing the number 42.

In [ ]:
x = 42
print(x)
type(x)

In [ ]:
# experimenting with data types
x = 42/10
print(x)
type(x)

This still works, but the type is not a string but rather an integer. No problem, until we try to print a sentence with the number 42 embedded.

In [ ]:
x = 42
print('My favorite number is '+x)

It is easy to switch variable types, and often necessary depending on your purposes. In this case, we will use the function str(), which will convert integers to strings (amongst other things).

In [ ]:
# add two strings together, must convert
x = 42
print('My favorite number is ' +str(x))

Understanding your datatypes is critical, because your code may work if you have the wrong datatype, just not as intended. Consider the following codes, which both give a result.

In [ ]:
# this code will add the integers 42 and 43 together
x = 42
y = 43
print(x+y)

In [ ]:
# this code, conversely, concatenates two strings together
x = str(42)
y = str(43)
print(str(x)+str(y))

Python 3 introduced an alternative to printing statements that include both strings and integers that does not require conversions, as shown below.

In [ ]:
# can also print with different data types
# in this case, print(string,integer)
x = 42
print('My favorite number is',x)

What if I am not dealing with an integer, but a float (which has a decimal associated with it)?

In [ ]:
# can also print with different data types
# in this case, print(string,float)
x = 42.3
print('My favorite number is',x)

<a id='IntFloat'></a>
# III. Integers and Floats
We have already seen three different variable types, integers, floats, and strings. Let's focus on integers and floats (and associated arithmetic operations)

In [ ]:
#integer
x = 5
type(x)

In [ ]:
#float
x = 4.
type(x)

You might have noticed by now that we have defined and redefined the variable x a number of times. Python variables are dynamic, and can change multiple times throughout a code. It is prudent to keep track of the variable type, particularly because some functions require an integer or a float as an argument. See the code below to see how easy it is for a variable to change from an integer to a float.

In [ ]:
# we assign x as an integer
x = 5
print(x,type(x))
y = 2
x = x/y
# after operations, x has become a float
print(x,type(x))

<a id='ModPackLib'></a>
# IV. Modules, Packages, and Libraries
Basic Python is actually rather limited in its mathematical capabilities (see below for a list of arithmetic operations in basic Python).

### Basic arithmetic operations

Standard python recognizes basic mathematical operations

|Operator | Description | Example|
|--------|--------|--------|
| `+` | Addition | `11+2` |
| `-` | Subtraction | `11-2` |
| `*` | Multiplication | `11*2`|
| `/` | Division | `11/2` |
| `**` | Exponentiation/power calculation | `2**3`|
| `%` | Modulus | `11%2` |
| `//` | Integer Division | `11//2` |

What if we want to evaluate something slightly more complicated, but still within the capabilities of a cheap scientific calculator:
$y = sin(\pi)$

In [ ]:
# pi() is not a function in basic Python
x = pi()

In [ ]:
# neither is sin()
y = sin(3.14)

However, Python has numerous packages, libraries, and modules to supplement the basic language. For now, there is no need to concern yourself with the differences between the three- they are all brought into Python the same way. There is a large Python community that develops and maintains modules, packages, and libraries.

Let's import the math module. For more on the math module, see: https://docs.python.org/3.7/library/math.html

In [ ]:
import math

To use the math module (or any module, library, package), you need to type `math.function()` or `math.constant`. Since pi is a constant, we type `math.pi`

In [ ]:
x = math.pi
print(x)

To calculate sine, we now need to use y = math.sin()

In [ ]:
x = math.pi
y = math.sin(x)
print(y)

<a id='Lists'></a>
# V. Lists
Recommended Resources: 
https://www.geeksforgeeks.org/python-list/

This semester, we are going to work a lot with time-series data, which can be stored in Python as a sequence of values. There are many types of sequences in Python; you have already seen one of those (strings). In this notebook, we are going to focus on one of the most versatile Python sequences, the list.

We actually won't work with lists too much this semester, we will be moving on fairly quickly to the more powerful Data Series. However, it is important to have some understanding of what lists actually are first.

Lists are created by inserting a sequence of comma-separated values between square brackets, as follows:

In [ ]:
testlist = [1,2,3]
print(testlist)

Note that lists are rather versatile, and can contain any combination of integers, floats, strings, etc.

In [ ]:
testlist = [1,2.0,'three']
print(testlist)

Recall that it is useful to check data types when troubleshooting code. You may want to determine that you are indeed working with a list, or that all entries in a list are of the same data type.

In [ ]:
# confirm that the data type is list
testlist = [1,2.0,'three']
type(testlist)

In [ ]:
# confirm the data type of the first entry in the list
# Recall that Python is 0-indexed
testlist = [1.0,2,'three']
print(testlist[-2])
type(testlist[-2])

There are a number of actions that we can perform on lists. The following example shows how to append the integer 4 to our testlist.

In [ ]:
testlist = [1,2,3]
print(testlist)
testlist.append(4)
print(testlist)

Append is what we refer to as a <b>method</b>, which is similar to a function. Unlike a function, which would create a new list, methods act directly on an object (in this case, testlist). 

<b>Be cautious when using methods, because they often change your original data.</b>

### Practice exercise

Calculate the mean and median from the following list. 

Hint 1: you should rely on an existing Python package.

Hint 2: Google is your friend.

<b>Give this a try on your own, then check out this video of my walkthrough of the solution:</b> https://mediaspace.illinois.edu/media/t/1_3upyaz0s

In [ ]:
# list to perform statistics on
statlist = [100, 102.1, 250, 110.3, 99.12, 98]

In [ ]:
# Write code here

In [ ]:
# Answer
import statistics
meanlist = statistics.mean(statlist)
print(meanlist)

<a id='Index'></a>

# VI. Indexing and slicing

We often need to access a specific value from a sequence, called <b>indexing</b>. Every element within a list has an associated number, so we simply have to call that number to extract the element value. That sounds easy. Let's try extracting the first value from the list below (`[1, 2, 3]`). If I didn't know any better, I would guess that the first value in the list would be defined at the index value of 1. I can call this index value by writing the index-value within closed brackets immediately following the name of a pre-defined list (such as `examplelist[1]`):

In [ ]:
testlist = [1,2,3]
testlist[1]

<b>Wait, what?</b> If you are used to coding in other languages, you might have expeted that the value at index 1 would be the first value in the list, which is also 1. However, this actually returns the value 2. <b>Remember that Python is 0-indexed, so to return the first value in a list, you need to access index 0.</b>

In [ ]:
# this indexing is correct if trying to access the first value in the list
testlist[0]

To extract the last value, you need to access index-2, one less than the length of the list.

In [ ]:
testlist[2]

If you don't know how long your list actually is, you can use the function `len()`, but since we are zero indexed, you will need to subtract one to extract that last value.

In [ ]:
testlist = [1,2,3]
testlist[len(testlist)-1]

Trying to access index-3 will result in a `IndexError` if the list only contains three values.

In [ ]:
testlist[3]

A handy trick is that Python uses negative indices to count backward, so you can also access the -1 index to return the last value in a list.

In [ ]:
testlist[-1]

Often a coder needs to access multiple values of a list, called slicing. Let's slice out the first two values. This is done like indexing, but rather than a single value between the square brackets, the coder defines start:end instead. 

Since we are slicing the first two values, you might expect the following to work:

In [ ]:
# this code is incorrect if trying to slice out the first two values in a list
testlist[0:1]

The above code returns a list (hence the square brackets in the output), but only one value within the list, the first one. The correct code is to write `testlist[0:2]` to return a list with only the first two values:

In [ ]:
# this indexing is correct if trying to slice out the first two values in a list
testlist[0:2]

In [ ]:
# here is another example, using zero indexing, that slices out the middle two values of a list
testlist = ['G','E','E','K']
testlist[-3:-1]

The following image clarifies how slicing works, only in this case it is working on strings rather than lists (since both are sequences, the same principle applies for both). When slicing, the start value indicates the tick mark defining the start of the slice, while the end value indicates the tick mark defining the end of the slice. In this case, slicing from 3:8 would return 'KSFOR'. 

![Image of slicing](https://media.geeksforgeeks.org/wp-content/uploads/List-Slicing.jpg)

Image from https://www.geeksforgeeks.org/python-list/. 

Let's code it up to confirm.

In [ ]:
# Define the string
teststring = 'GEEKSFORGEEKS'

# Practice with slicing
teststring[3:8]

Note that when slicing, from the begining of a string to some specified point, you don't have to type the 0-index. Similarly, you don't have to type the last index when slicing a section at the end of a sequence (string, list).

The latter is particularly useful if a coder does not know apriori how long the list is going to be, or if it changes size throughout your code.

In [ ]:
#compare the following code.....
teststring[3:13]

In [ ]:
# ..... to this code
teststring[3:]

### Practice problems for outside of class
Consider the list defined below. In the following code cells, perform the indexing or slicing as instructed in the comment of that cell.

<b>Give this a try on your own, then check out this video of my walkthrough of the solution:</b> https://mediaspace.illinois.edu/media/t/1_oh06a1pj

In [ ]:
# do not code in this cell, it defines your list for this problem
testlist = [1,3,5,9,12,190,320]

In [ ]:
# access the 4th value of testlist using positive indexing

In [ ]:
# access the 4th value of testlist using negative indexing

In [ ]:
# access the last three values of testlist using positive slicing

In [ ]:
# access the last three values of testlist using negative slicing

In [ ]:
# using slicing, return a list without the first and last values of testlist

### Practice problems for outside of class (Answers)

In [ ]:
# access the 4th value of testlist using positive indexing
testlist[3]

In [ ]:
# access the 4th value of testlist using negative indexing
testlist[-4]

In [ ]:
# access the last three values of testlist using positive slicing
testlist[4:]

In [ ]:
# access the last three values of testlist using negative slicing
testlist[-3:]

In [ ]:
# using slicing, return a list without the first and last values of testlist
testlist[1:-1]

<a id='LoopList'></a>

# VII. Looping through lists
Loops iterate over a sequence of numbers, either a specified number of times or when a specific condition is met. Loops are particularly simple when working with lists, because you can loop directly through the entries. This is much simpler than other codes, where loops require iterators and more stringent coding structure. 

### For loops
For-loops run through a range of values. The syntax for a for-loop is shown below.

`for` defines that this is a for for-loop. It means that for a given value within a loop, an operation will be performed. That operation is defined within the loop by indented lines of code. It is critical that indentation is consistent throughout the for loop (and preferably throughout the code). The end of indentation assigns the end of a loop. 

`x` is the value that will be subject to the operations within the for loop. In the example below, x will simply be printed.

Think about the following code, then run the cell. Did it do what you expected?

In [ ]:
testlist = [9, 2, 3, 4, 5, 6]
for x in testlist:
    print(x)

The results aren't overly impressive, but this is actually a fundamentally critical coding step to understand. You will use many loops throughout this semester. The fact that we could print a value within the loop is helpful, because we can perform a large number of operations on that value as well.

### Example Problem: Unit Conversion

Most of the data that I use is in Imperial Units rather than Metric for purposes of communicating with stakeholders in Illinois. However, sometimes I need to communicate Illinois issues with an international audience. The following codes attempt to convert the heads in the following list from feet to meters.

First, I want to try something simple. I am going to try to perform a scalar operation on the list, which shows heads in an aquifer in feet. I am hoping that this will divide each element by the scalar (`3.28`) to convert feet to meters.

In [ ]:
# this does not work

heads_ft = [682.2, 284.94, 492.6, 780.5] # heads in feet

heads_m = heads_ft/3.28

print(heads_m)

Unfortunately, that did not work. We will quickly be transitioning to data series, which will allow more robust scalar operations like I just tried to do. However, for now, we need to find another way while still using lists.

For the next possible solution, I am going to create an empty list with a unique name. I am then going to loop through each of the entries in heads_ft, convert the value from feet to meters, and append that to the empty list. This time, success!!!!!

In [ ]:
# this is one possible solution (using the append method to create a new list)

heads_ft = [682.2, 284.94, 492.6, 780.5] # heads in feet

heads_m = []

for value in heads_ft:
    heads_m.append(value/3.28)
    
print(heads_m)

Many people familiar with Python write their code in shorthand using list comprehensions. This allows you to define a new list by embedding the for loop between brackets. To do this, you first type the operation you are conducting within the loop (`value/3.28`) and then type the loop command itself (`for value in heads_ft`).

In [ ]:
# and another solution, using a list comprehension
heads_m = [value/3.28 for value in heads_ft]
print(heads_m)

This is pretty slick to condense code, and many people call this `Pythonic`. However, writing something Pythonic can also be hard to read, especially if you are just starting to code. Since this is an applied course, I don't care how you design your code as long as it leads to the correct answer. Within reason, anyway. There are specific things that you want to avoid, but we will discuss that as the semester goes along or if I see bad habits popping up in the homework.

### Practice Problem: Gallons per year to Cubic Feet per day
As we will find out later this semester, groundwater flow models require consistent use of length and time units. Most of the models at the ISWS are in units of $ft$ and $days$, meaning that pumpage has to be assigned as $ft^3/d$. However, pumpage is generally reported to the ISWS by communities as gallons per year.

Convert the following reported units ($gallons/year$) to model-ready units ($ft^3/d$).

<b>Give this a try on your own, then check out this video of my walkthrough of the solution:</b> https://mediaspace.illinois.edu/media/t/1_ypqarc9x

In [ ]:
# pumpage in gallons per year
gpy = [10000000, 32892902, 32890183010, 3801329, 389201473]

In [ ]:
# Answer
cfd = [0.133681*x/365.25 for x in gpy]
print(cfd)